input{
   border-radius: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: palevioletred;
}

button{
   border-radius: 10px;
   padding: 5px;
   background-color: mediumpurple;
}


#form-container{
   background-color: lightsteelblue;
   border-radius: 10px;
   text-align: center;
}
